<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            margin: 5%;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }
        .active {
            background-color: salmon;
            border: 0;
            padding: 5px;
        }
    </style>
</head>
<body>
    <div id="app">
        <header-component nama="Vue Js" image="image/vuejs.jpg"></header-component>
        <class-component :items="kelas" :input="kelasBaru"></class-component>
        <footer-component></footer-component>
        <home></home>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <script>
        const Home = {
            template: '<h1>This is Component Home</h1>'
        }
        Vue.component('header-component', {
            props: ['nama', 'image'],
            template: 
            `<header>
                    <img :src="image" width="500">
                    <p>Hello {{nama}}</p>
            </header>`,
            data: function(){
                return {
                    message: 'Hello, Components!'
                }
            }
        })

        Vue.component('class-component', {
            props: ['items', 'input'],
            template: 
                `<main>
                    <h3>Add Framework</h3>
                    <p><input type="text" placeholder="Nama Kelas" @keyup.enter="submit" v-model="input"></p>
                    <hr>
                    <h2>Daftar kelas {{items.length}}</h2>
                    <template v-if="items.length ">
                        <ul>
                            <li v-for="(item, index) in items">{{index}} : {{item}}</li>
                        </ul>
                    </template>
                    <li v-else>Data not found</li>
                </main>`,
            methods: {
                submit: function() {
                    let val = event.target.value
                    this.items.push(this.input)
                    this.input = ""
                },
            }
        })

        Vue.component('footer-component', {
            template: 
                `<footer id="footer">
                    <p>copyright 2020 - kelas.baledemy</p>
                </footer>`
        })

        const vm = new Vue({
            el: '#app',
            component: {
                'home': Home
            },
            data: {
                kelas: ['Angular', 'Vue', 'Golang'],
                kelasBaru: '',
            },
            methods: {
                
            },
            computed: {

            }
        })
    </script>
</body>
</html>