<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            margin: 5%;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }
        .active {
            background-color: salmon;
            border: 0;
            padding: 5px;
        }
    </style>
</head>
<body>
    <div id="app">
        <header>
            <img src="image/logo.jpg" width="80">
            <!-- <div>
                <ul>
                    <li v-for="item in 9">{{item}}</li>
                </ul>
                <ul>
                    <li v-for="(item, index) of frameWork">{{ index }} - {{item}}</li>
                </ul>
            </div> -->
            
            <!-- <div>
                <p>{{ frameWork }}</p>
                <label><input type="checkbox" value="Vue Js" v-model="frameWork">Vue Js</label>
                <label><input type="checkbox" value="React Js" v-model="frameWork">React Js</label>
                <label><input type="checkbox" value="Express Js" v-model="frameWork">Express Js</label>
            </div> -->
            
            <!-- <div>
                <h2 v-text="qty"></h2>
                <input type="number" v-model="qty">
                <button @click="handleClick">Click</button>
            </div> -->
            
            <!-- <img :src="image" width="100px"> -->
            <!-- <p>Bilangan ini adalah {{checkNumber}}</p> -->
            <!-- <br> -->
            <!-- <br> -->
            <!-- V-MODEL -->
            <!-- <p>{{kelas}}</p> -->
            <!-- <a v-bind:class="{active: menu === 'home'}" href="#" @click.prevent="changeMenu('home')">Home</a>
            <a v-bind:class="{active: menu === 'blog'}" href="#" @click.prevent="changeMenu('blog')">Blog</a>
            <a v-bind:class="{active: menu === 'about'}" href="#" @click.prevent="changeMenu('about')">About</a> -->

            <!-- <h1 v-text="fullName">asd</h1>
            <textarea v-model="fullName"></textarea> -->

            <h2>Daftar kelas {{frameWork.length}}</h2>
            <template v-if="frameWork.length ">
                <ul>
                    <li v-for="(item, index) in frameWork">{{index}} : {{item}}</li>
                </ul>
            </template>
            <p v-else>Data not found</p>
            <input type="text" v-model="newData" @keyup.enter="submit()">

            <!-- <p>Find Even Number From {{number}} </p>
            <ul>
                <li v-for="(item, index) in findEvenNumber(number)">{{item}}</li>
            </ul> -->
            
            <!-- template pengganti element div & tidak akan ada di elements-->
            <!-- key: agar element tersebut menjadi unique dan tidak di pakai ulang -->
            <!-- <template v-if="loginType === 'username'">
                <label>Username</label>
                <input placeholder="Enter your username" key="username-input">
            </template>
            <template v-else>
                <label>Email</label>
                <input placeholder="Enter your Email" key="email-input">
            </template> -->
            
            <!-- <ul>
                <li v-for="(value, key, index) in film"> {{index}} - {{key}}: {{value}}</li>
            </ul> -->

            <!-- <button @click="greet">Greet</button> -->
            <!-- <p>click button has been clicked {{counter}} </p> -->
            <!-- <button @click="say('Hi!')">Say Hi</button>
            <button @click="say('You got it boy!')">GO!</button> -->
            <!-- <button v-on:click="warn('Form cannot be submitted yet!', $event)">Submit</button> -->
            </header>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <script>
        const vm = new Vue({
            el: '#app',
            data: {
                fullName: 'Denny Tantoso',
                Fname: 'Denny ',
                Lname: 'Tantoso',
                qty: '1',
                number: [1,2,3,4,5,6,7,8],
                link: '<a href="#">LINK COKS</a>',
                image: 'image/b.jpg',
                menu: '',
                frameWork: ['Angular', 'Vue', 'Golang'],
                newData: '',
                loginType: 'username',
                film: {
                    title: 'How to do list in Vue',
                    author: 'Jane Doe',
                    publishedAt: '2016-04-10'
                },
                counter: 0,

            },
            methods: {
                submit: function() {
                    let val = event.target.value
                    this.frameWork.push(this.newData)
                    this.newData = ""
                },
                changeMenu: function(data) {
                    this.menu = data 
                },
                warn: function(message, event){
                    if(event) {
                        event.preventDefault()
                    }
                    alert(message)
                },
                say: function(message) {
                    alert(message)
                },
                greet: function() {
                    alert('Hello' + this.fullName + '!')
                },
                getName: function() {
                    return `Hello, ${this.name}` 
                },
                updName: function (newName)  {
                    this.name = newName
                    return this.getName()
                },
                handleClick: function() {
                    this.qty++
                    this.image = 'image/a.jpg'
                },
                findEvenNumber: function(num) {
                    return num.filter(num => {
                        return num % 2 === 0
                    })
                }

            },
            computed: {
                totalOrder: function() {
                    return this.qty * 10000
                },
                fullName: function() {
                    return this.Fname + this.Lname
                },
                checkNumber: function() {
                    return this.number % 2 === 0 ? 'Genap' : 'Ganjil'
                }
            }
        })
    </script>
</body>
</html>